<div class="text-center">
        <img src="./assets/bgverification.svg" alt="Verifying documents" height="400px"><br>
        <p class="mFont">   Verifying your Account Or<br> 
              Your Profile seems incomplete : <a href="/Profile">Profile</a>
        </p>
  </div>