<div class="text-center">
        <img src="./assets/bgverification.svg" alt="Verifying documents" height="400px"><br>
        <p class="mFont">   Verifying your Account. <br> 
              Please fill and Submit all documents in <a href="/Profile">Profile</a>
        </p>
  </div>