<%- include('partials/header.ejs')%>
<link rel="stylesheet" href="./css/index.css">

</head>
<body>
        <div class="LoginParent">
                <div class="LoginChild">

                        <h1 class="logoFont brand-name">Serve My Table</h1>
                        <div>
                                <%if(Message.status === 0){%>
                                      <button class="alert alert-danger mt-10 mb-10 mFont messageBox" role="alert"> <%=Message.msg%> </button>
                                <%}%>
                                <%if(Message.status === 1){%>
                                        <button class="alert alert-success mt-10 mb-10 mFont messageBox" role="alert"> <%=Message.msg%> </button>
                                <%}%>
                        </div>
                        <form method="POST" action="/forgot">
                                <input type="email" class="loginInput mFont" name="Email" placeholder="Enter Email Id"><br><br>
                                <button class="btn yelBtn mFont" type="submit" onclick="myFunction()">Send Link</button>
                                <div id="snackbar">Checking...</div>
                        </form>

                </div>
        </div>
        <script>
                function myFunction(event) {
                        event.preventDefault();
                        var x = document.getElementById("snackbar");
                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
        </script>
<%- include('partials/footer.ejs')%>
