<%-include('./partials/header.ejs')%>

<link rel="stylesheet" href="./css/home.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

</head>
<body>

      <div class="LoginParent">
            <div class="LoginChild">
            
                  <h1 class="logoFont brand-name">Serve My Table</h1>
                  <br/>
                  <video id="preview"></video>
                  <button class="yelBtn mt-10 mFont ScannerBtn" onclick="startScanning()"><i class="fa fa-qrcode"></i> Scan QR Code</button>
                  <br><br>
                  <p class="mFont">Or</p>
                  
                  <%if(Message.status === 0){%>
                        <button class="alert alert-danger mt-10 mb-10 mFont" role="alert"> <%=Message.msg%> </button>
                  <%}%>
                  <br>
                  <form method="POST" action="/restaurant">
                        <input class="loginInput mFont" name="CustomerName" type="text" placeholder="Enter your Name " required><br>
                        <input class="loginInput mFont" name="id" type="tel" placeholder="Enter Restaurant's Phone No." required><br>
                        <input class="loginInput mFont" min="0" name="table" type="number" placeholder="Enter Restaurant's Table No." required><br><br>
                        <button class="btn yel-outline mFont">View Restaurant's Menu</button>
                  </form>
                  
            </div>

      </div>
      

<script src="./scripts/Home.js" type="text/javascript"></script>

<%- include('./partials/footer.ejs') %>