:root{

      --theme-color : #ffd31d;
      --theme-grey : #B7B6B3;
      --facebook : #3B5998;
      --dark-red : #d63447;
      --theme-orange : #f57b51;
      --theme-green : #28A745;
}

.logoFont {
      font-family: "PT Sans",sans-serif;
}

.mFont{
      font-family: "Noto Sans",sans-serif;
}

button{
      border: none;
}

button:focus{
      outline: none;
}

input:focus{
      outline: none;
}

.yelBtn{
      background-color: var(--theme-color);
}

.yelBtn:hover{
      
      background-color: #ffd21dc2;
}

.themeRedBtn{
      background-color: var(--dark-red);
}

.themeRedBtn:hover{
      background-color: #d63447af;
}


.mt-10{
      margin-top: 10px;
}
.mt-30{
      margin-top: 30px;
}
.mb-10{
      margin-bottom: 10px;
}
.mb-30{
      margin-bottom: 30px;
}
.mb-0{
      margin-bottom: 0;
}

.line-theme{

      border: 1px solid var(--theme-color);
      width: 100%;
      background-color: var(--theme-color);
}
.totalBox{
      background-color: var(--theme-color);
      color: black;
      font-weight: 700;
      padding: 10px;
}

.website{
      font-size: smaller;
      color: var(--theme-grey);
}

.Timestamp{
      font-size: smaller;
      color: black;
}
.yel-outline{
      background-color: white;
      border: 1px solid var(--theme-color);
      border-radius: 2px;
      color: black;
}
.yel-outline:hover{
      background-color: var(--theme-color);
}

.searchBar{

      padding: 10px;
      padding-left: 50px;
      border: 1px solid var(--theme-grey);
      border-radius: 50px;
      margin-top: 30px;
      width: 30em;
      background-image: url('../assets/search.svg');
      background-repeat: no-repeat;
      background-position: 5px 4px;

}

#snackbar {
      visibility: hidden; 
      min-width: 250px; 
      margin-left: -125px;
      background-color: var(--theme-green); 
      color: #fff; 
      text-align: center; 
      border-radius: 2px; 
      padding: 16px; 
      position: fixed;
      z-index: 1; 
      left: 50%; 
      bottom: 30px;
}
 
#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.fs-b{
      font-weight: bold;
}