.heading{
      background-color: var(--theme-color);
      color: black;
      padding: 10px;
}

label{
      color: var(--theme-grey);
}

.customInput{
      border: none;
      border-bottom: 1px solid var(--theme-grey);
      padding: 10px;
      margin-top: 20px;
      font-size: larger;
      width: 100%;
}

.errorInput{
    border : 1px solid var(--dark-red);
}

.customInput:hover{
      outline: none;
} 

#restImage{

      border : 1px solid var(--theme-color);
      margin-bottom: 0;
      padding-top: 30px;
      color: var(--theme-grey);
      text-align: center;
      vertical-align: bottom;
}

.restImageClass{
      width: 100px;
      height: 100px;
      border-radius: 100px;
      display: inline-block;
}

#uploadBtn{

      display : inline-block;
      background-color: var(--theme-color);
      color: black;
      height: 40px;
      width : 40px;
      border:1px solid var(--theme-color);
      border-radius: 40px;
}
