.heading{
      background-color: #fdfd9b;
      color: black;
      padding: 10px;
}

label{
      color: var(--theme-grey);
}

.customInput{
      border: none;
      border-bottom: 1px solid var(--theme-grey);
      padding: 10px;
      margin-top: 20px;
      font-size: larger;
      width: 100%;
}

.errorInput{
    border : 1px solid var(--dark-red);
}

.customInput:hover{
      outline: none;
} 

#restImage{

      border : 1px solid var(--theme-color);
      margin-bottom: 0;
      padding-top: 0;
      color: var(--theme-grey);
      text-align: center;
      vertical-align: bottom;
      width:400px; 
      height:200px;
}

.restImageClass{
      display: inline-block;
}